<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Angel\Fifty\Api\TicketRepositoryInterface" type="Angel\Fifty\Model\TicketRepository"/>
	<preference for="Angel\Fifty\Api\Data\TicketInterface" type="Angel\Fifty\Model\Ticket"/>
	<preference for="Angel\Fifty\Api\Data\TicketSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Angel\Fifty\Model\ResourceModel\Ticket\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">angel_fifty_ticket</argument>
			<argument name="resourceModel" xsi:type="string">Angel\Fifty\Model\ResourceModel\Ticket\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="angel_fifty_ticket_listing_data_source" xsi:type="string">Angel\Fifty\Model\ResourceModel\Ticket\Grid\Collection</item>
				<item name="angel_fifty_winning_number_listing_data_source" xsi:type="string">Angel\Fifty\Model\ResourceModel\WinningNumber\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<virtualType name="Angel\Fifty\Model\ResourceModel\WinningNumber\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">angel_fifty_winning_number</argument>
			<argument name="resourceModel" xsi:type="string">Angel\Fifty\Model\ResourceModel\WinningNumber\Collection</argument>
		</arguments>
	</virtualType>
</config>
