<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Angel::fifty_top_level" module="Angel_Fifty" resource="Magento_Backend::content" sortOrder="10" title="50-50 Raffle"/>
		<add action="angel_fifty/index/index" id="Angel_Fifty::angel_fifty_ticket" module="Angel_Fifty" parent="Angel::fifty_top_level" resource="Magento_Backend::content" sortOrder="10" title="50-50 Raffles"/>
		<add action="angel_fifty/ticket/index" id="Angel_Fifty::angel_fifty_ticket" module="Angel_Fifty" parent="Angel::fifty_top_level" resource="Magento_Backend::content" sortOrder="20" title="Ticket"/>
		<add action="angel_fifty/winningnumber/index" id="Angel_Fifty::angel_fifty_winning_number" module="Angel_Fifty" parent="Angel::fifty_top_level" resource="Magento_Backend::content" sortOrder="30" title="Winning numbers"/>
		<add action="angel_fifty/report/index" id="Angel_Fifty::report_index" module="Angel_Fifty" parent="Angel::fifty_top_level" resource="Angel_Fifty::report_index" sortOrder="40" title="Report"/>
	</menu>
</config>
